<!--Pull metric and display  -->
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" (click)="onMetricClick()">Avg Response Time</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="onMetricClick()">Product Show Pipeline</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="onMetricClick()">Get Tile Pipeline</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="onMetricClick()">Search Pipeline</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="onMetricClick()">Get Tile Pipeline</a>
                </li>
            </ul>
        </nav>
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

            <div>
              <!--   <router-outlet></router-outlet> -->

                <app-rt-line-chart [art]="art"></app-rt-line-chart>
            </div>
        </main>
    </div>

</div>