<h3 style="float : left; margin-left: 20px">POD30_PRD_AACD</h3><br>
<br><br>
<div class="container">
<h3>{{queryData.path}}</h3>
</div>

<input class= "btn btn-danger" type="button" (click) = "stopArtyom()" value = "Stop Voice" style="float: right; margin-left: 3px ; margin-right: 10px">
<input class= "btn btn-success" type="button" (click) = "startArtyom()" value = "Start Voice" style="float: right;margin-left: 10px"><br>

<div id="chart"></div>
<br>
<hr>
<div class="container">
<section class="row">
    <div class="col-6 col-sm-3">
        <h1><small>June 20</small></h1>
        <div id="jun-20-div">

        </div>
    </div>
    <div class="col-6 col-sm-3">
        <h1><small>June 21</small></h1>
        <div id="jun-21-div">

        </div>
    </div>
    <div class="col-6 col-sm-3">
        <h1><small>June 22</small></h1>
        <div id="jun-22-div">

        </div>
    </div>
    <div class="col-6 col-sm-3">
        <h1><small>June 23</small></h1>
        <div id="jun-23-div">

        </div>
    </div>
</section>
</div>